/src/IdentityServer.Api/obj
/src/IdentityServer.Api/bin
/src/IdentityServer.Core/obj
/src/IdentityServer.Core/bin
/src/IdentityServer.Infrastructure/bin
/src/IdentityServer.Infrastructure/obj
/.vs
/samples/Api1/obj
/samples/Api1/bin
/samples/Api2/obj
/samples/Api2/bin
/samples/Api3/obj
/samples/Api3/bin
/samples/MvcJwtClient.Web/obj
/samples/MvcJwtClient.Web/bin
/samples/MvcJwtPkceClient.Web/bin
/samples/MvcJwtPkceClient.Web/obj
/samples/MvcMtlsClient.Web/bin
/samples/MvcMtlsClient.Web/obj
/samples/MvcPkceClient.Web/obj
/samples/MvcPkceClient.Web/bin
/samples/ConsoleJwtClient/obj
/samples/ConsoleJwtClient/bin
/src/IdentityServer.AdminUi/obj
/src/IdentityServer.AdminUi/bin
/tests/IdentityServer.Tests/obj
/tests/IdentityServer.Tests/bin
/samples/Api1/Api1.csproj.user
/samples/Api2/Api2.csproj.user
/samples/Api3/Api3.csproj.user
/samples/MvcPkceClient.Web/MvcPkceClient.Web.csproj.user
/src/IdentityServer.AdminUi/tempkey.rsa
/src/IdentityServer.AdminUi/updateUI.ps1
/src/IdentityServer.Api/tempkey.jwk
/src/IdentityServer.Infrastructure/IdentityServer.Infrastructure.csproj.user
/documents/Technical Design Document.docx
/documents/identitymodel-readthedocs-io-en-latest.pdf
